<h1>Hackthon 2025!</h1>
<hr />
<div class="panel">
  <div class="content">
    <nav>
      <a routerLink="/reader"
        >Reader all files from specific folder path("response-files")</a
      >
    </nav>

    <router-outlet></router-outlet>
  </div>

  <div class="info-panel">
    <div class="info">
      <h3>Project Info:</h3>
      <p>
        GEN AI - Email Response Reader 
        is a project that reads all the files
      </p>
      <br />
      <h3>Teams:</h3>
      <ul>
        <li>SivaKumar Mohan</li>
        <li>Dhruva Karir</li>
        <li>Satish</li>
        <li>Rehan Farooqui</li>
      </ul>
    </div>
  </div>
</div>
