h1 {
  text-align: center;
}

nav {
  text-align: center;
  font-size: 20px;
}

.content {
  width: 75%;
  float: left;
  padding: 0 20px 0 0px;
  border-right: 2px solid darkmagenta;
}
.info-panel {
  height: 100%;
  float: left;
  margin-left: 10px;
}
.panel {
  width: 100%;
}

